<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div style="display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;">
        <input style="width: 50%" type="text" placeholder="username" id="username" autocomplete="off">
        <input style="width: 50%" type="password" placeholder="password" id="password" autocomplete="off">
        <button id="connect">login</button>
        <a href="/register" id="register">Don't have account?</a>
    </div>
</body>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    $(function () {
        var socket = io();
        $('#disconnect').click(function(){
            socket.disconnect();
        });
        $('#connect').click(function() {
            socket = io.connect({'forceNew':true });
            var data = {};
            data.username = $("#username").val();
            data.password = $("#password").val();
            socket.emit('login', data);
            socket.on('error-login', function() {
                alert("Sai tên tài khoản hoặc mật khẩu!!");
            });
            socket.on('auth', function(token) {
                $.cookie("jwt-token", token);
            });
            socket.on('redirect', function(destination) {
                window.location.href = destination;
            });
        });
    })
</script>
</html>